<!DOCTYPE html>
<html>
    
    <head>
		<link rel="icon" href="static/images/googlePlay.png">
        <title>Kostas Poimenidis</title>
        <link rel="stylesheet" href="static/styles_google_play.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <nav>
                    <ul>
                        <li><a id="about" href="{{ url_for('main') }}">About</a></li>
                        <li><a id="resume" href="#">Resume</a></li>
                        <li><a href="{{ url_for('Google_Play') }}">Google Play</a></li>
                        <li><a id="myWork" href="https://github.com/poimenidis?tab=repositories">My Work</a></li>
                    </ul>
                </nav>
            </div>
			
            <div class="content">
              <section class="hero">
                <img src="static/images/ic_ayeblink_launch.png"/>
                <div class="hero-content">
                  <h1>AyeBlink<br>The Real social network</h1>
                  <p id="descriptionAYE">bla bla bla</p>
                </div>
              </section>
			  <br>
			  <br>
			  <br>
			  <br>
			  <br>
			  <br>
			  <section class="hero2">
			  <a href="https://play.google.com/store/apps/details?id=mytriumph.gr"> 
                <img src="static/images/triumph.png"/>
				</a>
                <div class="hero2-content">
                  <h1>Triumph on Tichu</h1>
                  <p id="descriptionTR">bla bla bla</p>
                </div>
              </section>
			  
			  
            </div>
            <div class="footer">
              <footer>
                <ul>
                    <li><a href="https://www.linkedin.com/in/kostas-poimenidis-409b95177/"><img class="svg" src="static/images/linkedin.svg"/><p>LinkedIn</p></a></li><br>
                    <li><a href="https://github.com/poimenidis"><img class="svg" src="static/images/github.svg"/><p>Github</p></a></li><br>
					<li><a href="https://stackoverflow.com/users/10879962/kostas-poime?tab=profile"><img class="svg" src="static/images/stackoverflow.svg"/><p>Stack</p></a></li><br>
                    <li><a href="https://www.facebook.com/kostaspoime"><img class="svg" src="static/images/facebook.svg"/><p>Facebook</p></a></li><br>
                    <li><a href="https://www.instagram.com/kostaspoime/"><img class="svg" src="static/images/instagram.svg"/><p>Instagram</p></a></li>
                </ul>
              </footer>
            </div>
        </div>
        
    </body>
</html>

<script type="text/javascript">
    var language = {
        eng: {
            about: "About",
            resume: "Resume",
            myWork: "My Work",
            descriptionAYE: "bla bla bla",
            descriptionTR: "bla bla bla"
        },
        el:{
            about: "Σχετικά",
            resume: "Βιογραφικό",
            myWork: "Τα Project μου",
            descriptionAYE: "bla bla blaE",
            descriptionTR: "bla bla blaA"
        }
    };

    var userLang = window.navigator.language;

    if(userLang==="en-GB"){
        about.textContent = language.eng.about;
        resume.textContent = language.eng.resume;
        myWork.textContent = language.eng.myWork;
        descriptionAYE.textContent = language.eng.descriptionAYE;
        descriptionTR.textContent = language.eng.descriptionTR;
    }

    if(userLang==="el"){
        about.textContent = language.el.about;
        resume.textContent = language.el.resume;
        myWork.textContent = language.el.myWork;
        descriptionAYE.textContent = language.el.descriptionAYE;
        descriptionTR.textContent = language.el.descriptionTR;
    }
</script>